<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{title}} - AI Powered Knowledge - 100% Free - Open Source">
  <meta name="keywords" content="{{title}}, AI, Wikipedia, AI Browser, Search Engine, Free AI">
  <meta name="application-name" content="Infintium">
  <meta name="author" content="Infintium">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>{{title}}</h1>
  </header>
  <main>
    <div class="content">{{content}}</div>
    <h2>References</h2>
    <ul>
      {{urls}}
    </ul>
  </main>
  <footer>
    <p>© 2024 Infintium. All rights reserved.</p>
  </footer>
</body>
</html>
