<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{title}} - AI Powered Knowledge - 100% Free - Open Source">
  <meta name="keywords" content="{{title}}, AI, Wikipedia, AI Browser, Search Engine, Free AI">
  <meta name="application-name" content="Infintium">
  <meta name="author" content="Infintium">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <title>{{title}}</title> <!-- Title of the page -->
</head>
<body>
  <div class="article-container">
    <h1>{{title}}</h1> <!-- Header of the article, also replaced by the query -->
    <div class="content">
      {{content}} <!-- AI-generated content goes here -->
    </div>
    <h2>References</h2>
    <ul id="urls">
      {{urls}} <!-- Placeholder for the URLs -->
    </ul>
    <div class="report-incorrect">
      <a href="mailto:rhenrywarren@gmail.com?subject=Infintium%20-%20Incorrect%20info%20{{title}}" class="btn">Report Incorrect</a>
    </div>
    <div class="search-again">
      <a href="/" class="btn">Search Something Else</a>
    </div>
  </div>
</body>
</html>
